<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="layout site.">
    <meta name="keywords" content="educação matemática">
    <meta charset="UTF-8">
    <meta http-equiv="expires" content="0">
    <meta http-equiv="pragma" content="public">
    <meta name="robots" content="index,follow">
    <meta name="author" content="wal">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">  
    <meta name="rating" content="general">
    <meta http-equiv="cache-control" content="public">
    <title>Matemática e programação </title>
</head>
<body>
   <div class="conteiner">
   <div style="text-align:center" class=top">
   <p>
    Educação Matématica e concursos públicos 
     
   </p>
   </div>
   <div class="conteudo">
   <p>
   Pensador da educacão Vygotky e a ZDP (zona de desenvolvimento proximal). 
     "É a distãncia entre um aprendiz e que pode fazer sozinho e o que ele 
     é capaz de realizar com a orientação ou colaboração de alguém mais competente".
     vários outros téoricos contribuiram com suas observações e experiência embora 
     divergia pelo menos em algum ponto porém fizeram compreender e suas teorias ajudaram
     na prática docente.
     
    </p>
    <p>
    (NCE/INPI/2009) A expressão que relaciona o número do sapato de uma pessoa ( N) ao 
      tamanho ,em centímetros, do seu pé ( C ) é N=(5C + 28 )/ 4 . Um número 39 é adequado 
      para uma pessoa cujo tamanho do pé , em centímetros, mede: ... Este problema contextualiza 
      ou moldela situações do cotidiano é fácil entender essa função que o tamanho do pé está relacionado 
      ao número do sapato , neste caso como o problema informou o valor do N= 39 , basta substituir na fórmula 
      e encontrar o C. 
    </p>
     <p>
     Bém o que foi notado pelo menos em um edital que a grande maioria das questões do concurso
     para professor de matemática eram questões espeficas , além de português,  questões pedagógicas 
     como essa acima , legislação é preciso estuda e bastante , a nivel federal como a constituição que
     menciona a educação além das leis estaduais e locais . É preciso esta atento no anúncio,  autorização e 
     escola da banca examinadora e ter redobrar a atenção com a posse pois na legislação questões de saúde 
     poderá atrapalha na tão sonhada vaga do cargo,há previsão de concurso público .   


       
     </p>

     </div>

     <div class="foot">
     <p style="text-align:center">
     <a href="https://gomesweb.com">
       matématica e programação </a>

     </p>

     </div>

   </div>
</body>
</html>
